<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Devour Dem Burgers!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
    {{{ body }}}
    <script src="../../public/js/burgers.js"></script>
</body>
</html>